VITE_FIREBASE_API_KEY=AIzaSyDLajA3T6-jHy9u_YpdMizAFxTu2J1xvtA
VITE_FIREBASE_AUTH_DOMAIN=ai-engineer-portfolio-f6ca6.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-engineer-portfolio-f6ca6
VITE_FIREBASE_STORAGE_BUCKET=ai-engineer-portfolio-f6ca6.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=536691659014
VITE_FIREBASE_APP_ID=1:536691659014:web:3f3edefc3f0a8787ac4e87
VITE_FIREBASE_MEASUREMENT_ID=G-BE04HTKS5C

# Copy to .env.local and keep that file out of source control